[submodule "client"]
	path = client
	url = https://github.com/Alistairot/moye-client.git
[submodule "example"]
	path = example
	url = https://github.com/Alistairot/moye-example.git
[submodule "server"]
	path = server
	url = https://github.com/Alistairot/moye-server.git
